# LS-DYNA run output
d3plot*
d3hsp
d3dump*
d3full*
messag
glstat
matsum
sleout
rcforc
deforc
bg_switch
kill_by_pid
status.out
*.tmp

# local delivery bundle (regenerate with: zip -r drone_impact_lsdyna.zip drone_impact)
drone_impact_lsdyna.zip
